*.pyc
.idea/*
.cache/*
scaper.egg-info/*
tests/local/*
.coverage
build/*
dist/*
docs/_build/*
scaper/bin/*
.pytest_cache/*
**/.DS_Store
out/*
**/data/*
venv/*
**/results
simulations/ClassifierbasedLocalization/
**/cache
src/tawns1
src/tawns_dbg
**/__pycache__/*
**/.idea
**/temp
**/testserver
